.wrap{
    margin: 0 auto;
}

body{
    font-family: NotoSans KR,sans-serif;
}

mo {
    display: none;
  }


@media all and (max-width:450px) {
    .mo {
        display: block;
    }

    .pc {
        display: none;
    }

  }








